version: '3'
services:
  postgres:
    image: postgres:10
    environment:
    - POSTGRES_USER=spdbusr
    - POSTGRES_PASSWORD=spdbpass
    - POSTGRES_DB=storepeople_db
    ports:
    - "5434:5432"
    volumes:
    - postgresqldata:/var/lib/postgresql/data

  redis:
    image: "redis:alpine"
    command: ["redis-server", "--appendonly", "yes"]
    ports:
    - "6378:6379"
    volumes:
    - redisdata:/data
  rabbitmq:
    image: rabbitmq:3
    ports:
    - "5673:5672"
  storepeople:
    build: .
    command: celery -A tasks  worker -l info
    environment:
    - STOREPEOPLE_DB_CONN=postgresql://spdbusr:spdbpass@postgres/storepeople_db
    - BROKER_CONN=amqp://rabbitmq
    - BACKEND_CONN=redis://redis
    depends_on:
    - postgres
    - redis
    - rabbitmq
volumes:
  postgresqldata:
  redisdata:
